src/main/resources/hijacked.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns:hijacked="http://www.felixbecker.name/hijacked" 
		targetNamespace="http://www.felixbecker.name/hijacked"
		elementFormDefault="qualified"
		version="1.0">
		
	<xs:complexType name="hijackedType">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="hijacked" type="hijacked:hijackedType" />
</xs:schema>
